p,
li {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline black;
}
main {
  background-color: white;
}

.flexWrapper {
  display: flex;
}

.NavBarText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Footer {
  max-width: 100%;
  margin-top: 10%;
}

.iconcircle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  -webkit-border-radius: 70px;
  padding: 15px;
  height: 25px;
  width: 25px;
  overflow: hidden;
}