$background-color: #ffffff;
$primary: #71A2B6;
$secondary:#B8B3E9;
$accent: #E43F6F;

$screen-shrink: 1000px;
$screen-large: 1280px;
$screen-medium: 960px;
$screen-small: 600px;
$screen-extra-small: 400px;
$component-max-width: 1000px;
$content-max-width: 1200px;
/* Spacing */
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;

$border-width: 2px;

$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 2rem;

$small: 4px;
$medium: 8px;
$large: 12px;
$xl: 16px;